USE [master]
GO
/****** Object:  Database [FashionShopManagement]    Script Date: 11/09/2016 01:50:49 ******/
CREATE DATABASE [FashionShopManagement] ON  PRIMARY 
( NAME = N'FashionShopManagement', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\FashionShopManagement.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FashionShopManagement_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\FashionShopManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FashionShopManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FashionShopManagement]
GO
/****** Object:  Table [dbo].[SUKIEN]    Script Date: 11/09/2016 01:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUKIEN](
	[MaSuKien] [varchar](10) NOT NULL,
	[TenSuKien] [nvarchar](50) NOT NULL,
	[TuNgay] [datetime] NOT NULL,
	[DenNgay] [datetime] NOT NULL,
	[MucGiam] [int] NOT NULL,
	[GhiChu] [text] NOT NULL,
 CONSTRAINT [PK_SuKien] PRIMARY KEY CLUSTERED 
(
	[MaSuKien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMSANPHAM]    Script Date: 11/09/2016 01:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMSANPHAM](
	[MaNhomSanPham] [varchar](10) NOT NULL,
	[TenNhom] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_NhomSP] PRIMARY KEY CLUSTERED 
(
	[MaNhomSanPham] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMKHACH]    Script Date: 11/09/2016 01:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMKHACH](
	[MaNhom] [varchar](10) NOT NULL,
	[TenNhom] [nvarchar](10) NOT NULL,
	[UuDai] [int] NOT NULL,
 CONSTRAINT [PK_NhomKhach] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/09/2016 01:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [varchar](10) NOT NULL,
	[TenTaiKhoan] [nvarchar](16) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[CMND] [nvarchar](15) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[CapDo] [int] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/09/2016 01:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhach] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[SDT] [nvarchar](11) NOT NULL,
	[CMND] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[MaNhanVien] [varchar](10) NOT NULL,
	[MaNhom] [varchar](10) NOT NULL,
 CONSTRAINT [PK_KhachHang_1] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMCON]    Script Date: 11/09/2016 01:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMCON](
	[MaNhomCon] [varchar](10) NOT NULL,
	[TenNhomCon] [nvarchar](20) NOT NULL,
	[MaNhomSanPham] [varchar](10) NOT NULL,
 CONSTRAINT [PK_NhomCon_1] PRIMARY KEY CLUSTERED 
(
	[MaNhomCon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONBANHANG]    Script Date: 11/09/2016 01:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONBANHANG](
	[MaHoaDon] [varchar](10) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[MaKhach] [varchar](10) NOT NULL,
	[MaNhanVien] [varchar](10) NULL,
	[MaSuKien] [varchar](10) NULL,
 CONSTRAINT [PK_HoaDonBH_1] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 11/09/2016 01:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSanPham] [varchar](10) NOT NULL,
	[TenSanPham] [nvarchar](50) NOT NULL,
	[HinhAnh] [varchar](100) NULL,
	[GiaNhap] [numeric](10, 0) NULL,
	[GiaBan] [numeric](10, 0) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonViTinh] [nvarchar](10) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[ChietKhau] [int] NOT NULL,
	[MaNhomCon] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SanPham_1] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHOADONBANHANG]    Script Date: 11/09/2016 01:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADONBANHANG](
	[MaHoaDon] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [numeric](10, 0) NULL,
 CONSTRAINT [PK_ChiTietHDBH] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONTRAHANG]    Script Date: 11/09/2016 01:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONTRAHANG](
	[MaTraHang] [varchar](10) NOT NULL,
	[NgayTra] [datetime] NOT NULL,
	[MaHoaDon] [varchar](10) NOT NULL,
	[MaNhanVien] [varchar](10) NOT NULL,
	[PhiTra] [numeric](10, 0) NOT NULL,
 CONSTRAINT [PK_HoaDonTraHang_1] PRIMARY KEY CLUSTERED 
(
	[MaTraHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETTRAHANG]    Script Date: 11/09/2016 01:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETTRAHANG](
	[MaTraHang] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaTra] [numeric](10, 0) NOT NULL,
 CONSTRAINT [PK_ChiTietTraHang_1] PRIMARY KEY CLUSTERED 
(
	[MaTraHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_KhachHang_NhanVien]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KhachHang_NhanVien]
GO
/****** Object:  ForeignKey [FK_KhachHang_NhomKhach]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_NhomKhach] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOMKHACH] ([MaNhom])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KhachHang_NhomKhach]
GO
/****** Object:  ForeignKey [FK_NhomCon_NhomSP]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[NHOMCON]  WITH CHECK ADD  CONSTRAINT [FK_NhomCon_NhomSP] FOREIGN KEY([MaNhomSanPham])
REFERENCES [dbo].[NHOMSANPHAM] ([MaNhomSanPham])
GO
ALTER TABLE [dbo].[NHOMCON] CHECK CONSTRAINT [FK_NhomCon_NhomSP]
GO
/****** Object:  ForeignKey [FK_HOADONBANHANG_SUKIEN]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBANHANG_SUKIEN] FOREIGN KEY([MaSuKien])
REFERENCES [dbo].[SUKIEN] ([MaSuKien])
GO
ALTER TABLE [dbo].[HOADONBANHANG] CHECK CONSTRAINT [FK_HOADONBANHANG_SUKIEN]
GO
/****** Object:  ForeignKey [FK_HoaDonBH_KhachHang]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBH_KhachHang] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KHACHHANG] ([MaKhach])
GO
ALTER TABLE [dbo].[HOADONBANHANG] CHECK CONSTRAINT [FK_HoaDonBH_KhachHang]
GO
/****** Object:  ForeignKey [FK_HoaDonBH_NhanVien]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBH_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HOADONBANHANG] CHECK CONSTRAINT [FK_HoaDonBH_NhanVien]
GO
/****** Object:  ForeignKey [FK_SanPham_NhomCon]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhomCon] FOREIGN KEY([MaNhomCon])
REFERENCES [dbo].[NHOMCON] ([MaNhomCon])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SanPham_NhomCon]
GO
/****** Object:  ForeignKey [FK_ChiTietHDBH_HoaDonBH]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[CHITIETHOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDBH_HoaDonBH] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADONBANHANG] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CHITIETHOADONBANHANG] CHECK CONSTRAINT [FK_ChiTietHDBH_HoaDonBH]
GO
/****** Object:  ForeignKey [FK_ChiTietHDBH_SanPham]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[CHITIETHOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDBH_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CHITIETHOADONBANHANG] CHECK CONSTRAINT [FK_ChiTietHDBH_SanPham]
GO
/****** Object:  ForeignKey [FK_HoaDonTraHang_HoaDonBH]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[HOADONTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonTraHang_HoaDonBH] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADONBANHANG] ([MaHoaDon])
GO
ALTER TABLE [dbo].[HOADONTRAHANG] CHECK CONSTRAINT [FK_HoaDonTraHang_HoaDonBH]
GO
/****** Object:  ForeignKey [FK_HoaDonTraHang_NhanVien]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[HOADONTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonTraHang_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HOADONTRAHANG] CHECK CONSTRAINT [FK_HoaDonTraHang_NhanVien]
GO
/****** Object:  ForeignKey [FK_ChiTietTraHang_HoaDonTraHang]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[CHITIETTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTraHang_HoaDonTraHang] FOREIGN KEY([MaTraHang])
REFERENCES [dbo].[HOADONTRAHANG] ([MaTraHang])
GO
ALTER TABLE [dbo].[CHITIETTRAHANG] CHECK CONSTRAINT [FK_ChiTietTraHang_HoaDonTraHang]
GO
/****** Object:  ForeignKey [FK_ChiTietTraHang_SanPham]    Script Date: 11/09/2016 01:50:51 ******/
ALTER TABLE [dbo].[CHITIETTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTraHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CHITIETTRAHANG] CHECK CONSTRAINT [FK_ChiTietTraHang_SanPham]
GO
